{% extends 'base.html'%}

{% block title %}
{{ title }}
{% endblock %}


{% block cap %}
{{ cap }}
{% endblock %}

{% block content%}
<form action="{{url_for('upload1File')}}" method="post" enctype="multipart/form-data">
    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0" name="fname">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <input type="submit" class="btn btn-light m-0 rounded-pill px-4" value="Upload">

                </div>

            </div>


</form>
<!-- Uploaded image area-->
<p class="font-italic text-white text-center">MR Image </p>
<div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
</div>

</div>
</div>

{% with messages= get_flashed_messages(with_categories=true)%}
{% if messages%}
{% for category,message in messages %}
<div class="alert alert-{{category}}" role="alert">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

    {% if filename %}

    <p class="font-italic text-white text-center">Yapılan inceleme sonucunda tespit edilen lezyonların görünüşü</p>
    <div class="image-area mt-4"><img id="imageResult" src="{{url_for('detecFile',filename=filename)}}" alt=""
            class="img-fluid rounded shadow-sm mx-auto d-block">

    {% endif %}

{% endblock %}