{% extends 'base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block content%}
<!-- ======= Detection Section ======= -->
<section id="detectionHero">
    <div class="detectionHero-container">
        <h1>{{cap}}</h1>
        {% if abstract1 %}
        <h2>{{abstract}}</h2>
        {%endif%}
    </div>
</section><!-- #detection -->
<main id="main">
    <section id="followup" class="followup">
        <div class="container">
            <div class="row mx-auto">
                <div class="col-md-3">
                    <i class="bi bi-file-zip"></i>
                    <a href="{{url_for('static',filename='testSet1.zip')}}">Example Set 1 </a>

                </div>
                <div class="col-md-3">
                    <i class="bi bi-file-zip"></i>
                    <a href="{{url_for('static',filename='testSet2.zip')}}">Example Set 2 </a>
                </div>
            </div>

            {% if messages %}
            <div class="row py-2">
                <div class="col-md-6 mx-auto px-3 ">
                    <ul class="list-group">
                        {% for key, value in messages.items() %}
                        <li class="list-group-item list-group-item-{{value.type}} mb-1">
                            {{value.message}}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {%endif%}
            <div class="row py-2">
                <h4>
                    İlişkili iki MR sekansından 2 kesit seçerek MS lezyonlarının değişiminin takibini yapabilirsiniz. 
                </h4>
            </div>
            <form action="{{fx}}" method="post" enctype="multipart/form-data" id="baseForm" name="baseForm">
                <div class="row py-4">
                    <div class="col-md-6 mx-auto">
                        <!-- Upload image input-->
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm ">
                            <input id="upload1" type="file"
                                onchange="showFileName(this,'upload1-label','First MRI : ');readURL(this);"
                                class="form-control-lg border-0 bg-dark" name="firstMR" required>
                            <label id="upload1-label" for="upload1" class="font-weight-light text-muted">Choose First
                                MRI Slice</label>
                        </div>
                    </div>
                    <div class="col-md-6 mx-auto">
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                            <input id="upload2" type="file"
                                onchange="showFileName(this,'upload2-label','Second MRI : ');readURL2(this);"
                                class="form-control-lg border-0" name="secondMR" required>
                            <label id="upload2-label" for="upload2" class="font-weight-light text-muted">Choose Second
                                MRI Slice</label>

                        </div>
                    </div>
                    {%if json1%}
                    <div class=" col-md-12 mx-auto ">
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                            <input id="uploadJson" type="file"
                                onchange="showFileName(this,'uploadJson-label','Json File : ');"
                                class="form-control-lg border-0" name="jsonfname">
                            <label id="uploadJson-label" for="uploadJson" class="font-weight-light text-muted">
                                Select a Ground Truth File (coco style) </label>
                        </div>
                    </div>
                    {%endif%}
                    <div class=" col-md-12 mx-auto ">
                        <div class="input-group mb-3 px-2 py-2 rounded-pill bg-success shadow-sm">
                            <input type="submit" onclick="checkFiles()"
                                class=" form-control-lg btn btn-success rounded-pill px-4 w-100 justify-content-center"
                                value="Follow-Up (Change Detection) MS Lesions">
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <!-- Uploaded image area-->
                    <p class="font-italic text-black-50 text-center mt-4">First MR slice</p>
                    <div class="image-area mt-2"><img id="imageResult" src="#" alt=""
                            class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                </div>
                <div class="col-md-6 mx-auto">
                    <p class="font-italic text-black-50 text-center mt-4">Second MR slice</p>
                    <div class="image-area mt-2"><img id="imageResult2" src="#" alt=""
                            class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock %}